<div class="container">
    <div class="row">
        <div class="col-sm-4" >
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Groups</b></h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item active">Hermes Voice assistant</li>
                        <li class="list-group-item">Socrates Robot Project</li>
                        <li class="list-group-item">Alexander Robot Project</li>
                        <li class="list-group-item">Aristotle Robot Project</li>
                    </ul>    
                </div>
            </div>
        </div>
        <div class="col-sm-8" >
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <h3 class="panel-title"><b>Groups Users</b> </h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Signed In</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>John Boo</th>
                                    <td>15,Sep,20:56</td>
                                    <td><a class="btn btn-info btn-md">Assign admin permissions</a>   <a class="btn btn-danger btn-md">Delete</a></td>
                                </tr>
                                <tr>
                                    <th>Michael Robinson</th>
                                    <td>15,Sep,20:56</td>
                                    <td><a class="btn btn-info btn-md">Assign admin permissions</a>   <a class="btn btn-danger btn-md">Delete</a></td>
                                </tr>
                                <tr>
                                    <th>Alexander Robson</th>
                                    <td>15,Sep,20:56</td>
                                    <td><a class="btn btn-info btn-md">Assign admin permissions</a>   <a class="btn btn-danger btn-md">Delete</a></td>
                                </tr>  
                                <tr>
                                    <th>Jennifer Pinsker</th>
                                    <td>15,Sep,20:56</td>
                                    <td><a class="btn btn-info btn-md">Assign admin permissions</a>   <a class="btn btn-danger btn-md">Delete</a></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button">Add User</button>
                        </span>
                        <select class="form-control" id="sel1">
                            <option>Alexander Robinson</option>
                            <option>Michael Robson</option>
                            <option>Jennifer Robson</option>
                            <option>John Pinsker</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>