<div class="container">
    <div class="row">
        <div class="col-sm-2" >
        </div>
        <div class="col-sm-8" >
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Edit Profile</b></h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <h4><label for="userSignUp">Username</label></h4>
                            <input type="text" class="form-control input-md" id="userSignUp"size="8" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <h4><label for="emailSignUp">Email address:</label></h4>
                            <input type="emailSignUp" class="form-control input-md" id="email" placeholder="Email address" required>
                        </div>
                        <div class="form-group">
                            <h4><label for="signUppwd">Password:</label></h4>
                            <input type="text" class="form-control input-md" id="signUppwd"size="8" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <h4><label for="signUpRepwd">Reconfirm password:</label></h4>
                            <input type="text" class="form-control input-md" id="signUpRepwd" size="8" placeholder="Reconfirm password" required>  </div>
                        <div class="form-group">
                            <a class="btn btn-info btn-lg">Save</a>
                        </div>                    
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2" >
        </div>
    </div>
</div>
