<div class="container">
    <div class="modal fade" id="uploadFileModal">
        <div class="modal-dialog " >
            <div class="modal-content panel-primary ">
                <div class="modal-header panel-heading" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Add New File</h3>
                </div>
                <div class="modal-body">   
                    <form id="file-form"  action="" method="post" enctype="multipart/form-data" style="visibility: hidden;">
                        <input id="file" type="file" name="file" size="50" onchange="$('#fileName').val($(this).val());"/>
                    </form>
                    <form role="form">								
                        <div class="input-group">   
                            <span class="input-group-btn">
                                <button class="btn btn-danger" type="button" onclick="$('#file').click();">                                         <span class="glyphicon glyphicon-folder-open"></span>       Browse File
                                </button>
                            </span>
                            <input type="text" class="form-control" value="No file selected"id="fileName">                                                   <span class="input-group-btn"></span>
                        </div> 
                        <div class="modal-footer">
                            <button id="upload-button" type="submit" class="btn  btn-success btn-lg">Add File</button>
                            <button type="button" class="btn  btn-danger btn-lg" data-dismiss="modal">Cancel</button>                                   </div>
                    </form>                
                </div>	
            </div>
        </div>
    </div>
    <div class="modal fade" id="createRoomModal">
        <div class="modal-dialog " >
            <div class="modal-content panel-primary ">
                <div class="modal-header panel-heading" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Create New Room</h3>
                </div>
                <div class="modal-body">
                    <form role="form" name="addRoomForm">            
                       <div class="form-group">
                            <h4><label for="roomName">New Room Name:</label></h4>
                            <input type="text" class="form-control" ng-model="roomName" name="roomName" id="roomName" placeholder="Room name..."   required> 
                        </div>
                        <div class="modal-footer">
                            <button id="btnCreateRoom" ng-disabled="addRoomForm.roomName.$error.required" class="btn btn-info btn-lg" type="button" ng-click="createRoom();" autocomplete="off" data-loading-text="Creating room....">Add Room</button>
                            <button type="button" class="btn  btn-danger btn-lg" data-dismiss="modal">Cancel</button>                                   </div>
                    </form>        
                </div>	
            </div>
        </div>
    </div>      
    <div class="modal fade" id="createNewTextDocumentModal" >
        <div class="modal-dialog " >
            <div class="modal-content panel-primary ">
                <div class="modal-header panel-heading" >
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Create New Text Document</h3>
                </div>
                <div class="modal-body">
                    <form role="form" name="newTextDocumentForm">
                        <div class="form-group">
                            <h4><label for="content">Document Name:</label></h4>
                            <input type="text" class="form-control input-lg" ng-model="newtxtFileName" name="newtxtFileName" id="newtxtFileName" placeholder="Enter Document name..."   required> 
                        </div>	
                        <div class="form-group">
                            <h4><label for="content">Document Content:</label></h4>
                            <textarea ng-model="newtxtContent" class="form-control input-lg" rows="5" id="newtxtContent" name="newtxtContent" placeholder="Enter Document Content..." required></textarea>
                        </div>                        
                        <div class="modal-footer">
                            <button id="btnSavaNewTextDocument"ng-disabled="(newTextDocumentForm.newtxtFileName.$error.required)||(newTextDocumentForm.newtxtContent.$error.required)" type="submit" class="btn btn-success btn-lg" ng-click="createNewTextFile()" autocomplete="off" data-loading-text="Saving....">Save</button>
                            <button type="button" class="btn  btn-danger btn-lg" data-dismiss="modal">Cancel</button>                                   </div>
                    </form>        
                </div>	
            </div>
        </div>
    </div>     
    <div class="modal fade" id="loadingBarModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog " >
            <div class="modal-content">
                <div class="modal-body">
                    <div class="progress" id="loadingBar">
                        <div class="progress-bar  progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            Loading .........
                        </div>
                    </div>        
                </div>	
            </div>
        </div>
    </div>     
    <div class="row">
        <div class="col-sm-3" >
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Navigation pane</b></h3>
                </div>
                <div class="panel-body">    
                    <div class="list-group">
                        <a ng-repeat="url in paths" href="#{{url.url}}" class="list-group-item" ng-class="{'list-group-item active': $last}"><b>{{url.name}}</b></a>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-sm-9" >
            <div ng-if="Data.object.class == 'Document'">
                <div ng-if="Data.object.mime_type == 'image/png'">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><h3><b>{{Data.object.name}}</b></h3></h3>
                        </div> 
                        <div class="panel-body">
                            <img src='http://dev-back1.techgrind.asia{{Data.object.path}}'>   
                        </div>
                    </div>
                </div> 
                <div ng-if="Data.object.mime_type == 'text/plain'">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><h3><b>{{Data.object.name}}</b></h3></h3>
                        </div>        
                        <div class="panel-body">
                            <form role="form">
                                    <h3><label>Document Title:{{Data.object.title}}</label></h3>
                                <div class="form-group">
                                    <textarea id="saveTextContent" class="form-control input-lg" rows="5">{{Data.object.content}}</textarea>
                                </div>
                                <div class="form-group">
                                    <button data-loading-text="Saving...." type="submit" class="btn btn-success btn-lg" ng-click="saveText();" id="btnSavaTextDocument" autocomplete="off">Save</button>
                                </div>
                            </form>
                        </div>     
                    </div>
                </div>    
            </div>       
            <div ng-if="Data.object.class == 'Room'">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>{{Data.object.name}}</b> </h3><br>
                         <a ng-hide="isHome();"data-toggle="modal" data-target="#uploadFileModal"class="btn btn-success btn-md">Add new File</a>
                        <a ng-hide="isHome();" class="btn btn-success btn-md" data-toggle="modal" data-target="#createNewTextDocumentModal" id="btncreateNewTextDocumentModal" >Create new text file</a>  

                        <a class="btn btn-success btn-md" data-toggle="modal" data-target="#createRoomModal" id="btncreateRoomModal">Create new Room</a>  
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <h1 ng-hide="Data.inventory.length">The Room is empty!!!!</h1><br ng-   hide="Data.inventory.length" >
                            <br ng-hide="Data.inventory.length" ><br ng-hide="Data.inventory.length" ><br ng-hide="Data.inventory.length" >
                            <table class="table" ng-show="Data.inventory.length">
                                <thead>
                                    <tr>
                                        <th>Picture</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <td></td>
                                    </tr>   
                                </thead>
                                <tbody>
                                    <tr ng-repeat="GroupData in Data.inventory">
                                        <td><img src="http://dev-back1.techgrind.asia{{GroupData.icon.path}}"></td>    
                                        <td>{{GroupData.name}}</td>
                                        <td>{{GroupData.description}}</td>
                                        <td>
                                            <div ng-if="GroupData.path== ''">    
                                                <a id="open{{GroupData.oid}}" href=""  class="btn btn-success btn-sm" style="width:90px">Open</a>
                                                <a class="btn btn-info btn-sm">Rename</a>
                                            </div>
                                            <div ng-if="GroupData.path!= ''">    
                                                <div ng-switch on="GroupData.mime_type">
                                                    <div ng-switch-when="application/msword">
                                                        <a id="open{{GroupData.oid}}" ng-href="{{WebUrl}}{{GroupData.path}}"  target="_blank" class="btn btn-success btn-sm" style="width:90px">Download</a>                                                         
                                                        <a class="btn btn-info btn-sm">Rename</a>
                                                    </div>
                                                    <div ng-switch-when="application/pdf">
                                                         <a id="open{{GroupData.oid}}" ng-href="{{WebUrl}}{{GroupData.path}}"target="_blank" class="btn btn-success btn-sm" style="width:90px">Open</a> 
                                                        <a class="btn btn-info btn-sm">Rename</a>
                                                    </div>
                                                    <div ng-switch-default>
                                                        <a id="open{{GroupData.oid}}" href="#/home{{GroupData.path}}"class="btn btn-success btn-sm "    style="width:90px">Open</a>
                                                        <a class="btn btn-info btn-sm">Rename</a>
                                                    </div>
                                                </div>          
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>                                 
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>